#master-container {
	width: 100%;
	height: auto;
}

header {
	text-align: center;	
	font-size: 20px;
	padding-top: 8px;
	font-family: Helvetica;
}

nav {
	word-spacing: 30px;
	font-family: Helvetica;
	display: inline-block;
	font-size: 18px;
	width: 100%;
	color: black;
	border: 1px solid green;
	margin-left: 60%;
}

ul.navlink li {
	color: black;
	font-family: helvetica;
	padding-bottom: 15px;
	list-style: none;
	display: inline-block;
	text-decoration: none;	
	border: 3px solid black;
	
}

ul.navlink a {
	text-decoration: none;
	color: black;
	border: 3px solid black;
	display: inline-block;
}

ul.navlink a:hover {
	color: #000080;
}

#logo {
	display: inline-block;
	float: left;
	border: 1px solid red;
}

#jlogo {
	float: left;
	width: 40%;
	height: auto;
	border: 3px solid black;
	box-sizing: border-box;
	padding-left: 30px;
	
}

body {
	font-family: helvetica;
}

#container2 {
	width: 33%;
	height: auto;
	float: left;
	box-sizing: border-box;
	padding-left: 175px;

}

#curproj {
	font-size: 26px;
	font-family: Helvetica;

}

#zerok {
	width: 50%;
	height: auto;
}

#container3 {
	width: 33%;
	height: auto;
	float: left;
	box-sizing: border-box;
	padding-left: 175px;
}

#np {
	font-size: 26px;
	font-family: Helvetica;
}

#container4 {
	width: 33%;
	height: auto;
	float: right;
	box-sizing: border-box;
	padding-left: 100px;
}

#blog-content {
	width: 70%;
	margin: 0 auto;
}









