#container1 {
	width: 1200px;
	margin: 0 auto;
	border: 2px black solid;
}

header {
	text-align: center;	
	font-size: 36px;
	padding-top: 20px;
	font-family: Helvetica;
}

nav {
	text-align: center;
	word-spacing: 30px;
	font-family: Helvetica;
	padding-top: 10px;
	padding-right: 40px;
	float: right;
}

.navlink {
	text-decoration: none;
	color: black;
	font-family: helvetica;
}

.navlink:hover {
	color: #000080;
}

#jlogo {
	float: left;
	width: 5%;
	height: 5%;
	padding-left: 40px;
	padding-top: 10px;
}

#container2 {
	width: 350px;
	height: 300px;
	float: left;
	margin: 100px;
	clear: both;
	border: 2px black solid;
}

#curproj {
	font-size: 26px;
	font-family: Helvetica;

}

#zerok {
	width: 50%;
	height: auto;
}

#container3 {
	width: 350px;
	height: 300px;
	float: right;
	margin: 100px;
	border: 2px black solid;
}

#nw {
	font-size: 26px;
	font-family: Helvetica;
}