#container {
	width: 800;
	margin: 0 auto;
}

header {
	text-align: center;	
	font-size: 36px;
	padding-top: 20px;
	font-family: Helvetica;
}

nav {
	text-align: center;
	word-spacing: 30px;
	font-family: Helvetica;
	padding-top: 10px;
	padding-right: 40px;
	float: right;
}

.navlink {
	text-decoration: none;
	color: black;
}

.navlink:hover {
	color: #000080;
}

#jlogo {
	float: left;
	width: 5%;
	height: 5%;
	padding-left: 40px;
	padding-top: 10px;
}